name: Build and Push Docker Image (Manual Only)

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Git Tag to use as Docker Image TAG"
        required: true
        default: "v1.0.0"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 登录 Docker Hub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 使用手动输入的 tag 构建镜像
      - name: Build Docker Image
        run: |
          TAG="${{ github.event.inputs.tag }}"
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV
          
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/go_project_simple_bank-api:${TAG} .

      # 打 latest 标签
      - name: Tag latest
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/go_project_simple_bank-api:${IMAGE_TAG} \
                     ${{ secrets.DOCKERHUB_USERNAME }}/go_project_simple_bank-api:latest

      # 推送到 Docker Hub
      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/go_project_simple_bank-api:${IMAGE_TAG}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/go_project_simple_bank-api:latest
